#attractions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h";
    gap: 20px;
}

#attractions .area-1 { grid-area: a; }
#attractions .area-2 { grid-area: b; }
#attractions .area-3 { grid-area: c; }
#attractions .area-4 { grid-area: d; }
#attractions .area-5 { grid-area: e; }
#attractions .area-6 { grid-area: f; }
#attractions .area-7 { grid-area: g; }
#attractions .area-8 { grid-area: h; }

.attraction-card {
    height: 300px;
}

.attraction-card img {
    opacity: 1;
}

@media only screen and (min-width: 680px) {
    #attractions {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "a b"
            "c b"
            "c d"
            "e f"
            "g f"
            "g h";
    }
}