div.join-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

h1 {
    grid-column: 1 / -1;
    text-align: center;
}

.form-section form, label {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

input {
    padding: 5px;
}

h2, button {
    padding: 10px;
    width: 100%;
}
article {
    border: 1px solid var(--border);
}

.membership-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.membership-section p {
    font-size: 20px;
    padding: 10px;
}