@media (min-width: 800px) {
    nav {
        flex-direction: row;
        align-self: flex-end;
        text-align: end;
        gap: 1rem;
        padding: 0.5cm;
        background: transparent;
    }

    nav a,
    .current {
        color: var(--light-font);
    }

    #burger-toggle {
        display: none;
    }

    .hidden {
        display: flex;
    }

    .current {
        background: transparent;
        text-decoration: underline;
    }

    .button-container {
        flex-direction: row;
        justify-content: center;
    }

    .button-container button {
        padding-inline: 1cm;
    }

    .grid-view {
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
    }

    footer {
        flex-direction: row;
        gap: 1cm;
    }

    footer > * {
        flex: 1;
    }
}