:root {
    --heading-color: #222222;
    --light-font: #000000;
    --dark-font: #ffffff;
    --clickable-color: #383838;
    --background-color: #D9D9D9;
    --placeholder-color: #AAAAAA;
    --special-font: #002879;

    --heading-font: "Rubik Dirt", sans-serif;
    --body-font: "Geist Pixel", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 0.5cm var(--body-font);
}

a {
    color: var(--special-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
header > * {
    font-family: var(--heading-font);
    font-weight: normal;
}

h1 {
    font-size: 1cm;
    text-align: center;
}

h2,
header * {
    font-size: 0.75cm;
}

ul {
    list-style: none;
}

header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
}

#burger-toggle {
    align-content: center;
    font-size: 2cm;
    cursor: pointer;
}

.hidden {
    display: none;
}

nav {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    background-color: var(--heading-color);
}

nav a {
    color: var(--dark-font);
    text-decoration: none;
}

section,
button,
header,
footer {
    background-color: var(--background-color);
    color: var(--light-font);
}

.current,
button:hover,
.selected-button {
    background-color: var(--clickable-color);
}

button:hover,
.selected-button,
.current {
    color: var(--dark-font);
}

header,
footer {
    text-align: center;
}

main {
    margin: 0.5cm;
}

#total-credits,
#currentyear,
#lastmodified {
    color: var(--special-font);
}

.logo,
.socials-icon img {
    width: 2cm;
}

.logo-container,
.button-container,
footer,
.socials-container {
    display: flex;
}

.logo-container {
    align-items: center;
    gap: 1cm;
    padding: 0.5cm;
}

.button-container {
    flex-direction: column;
    gap: 2.5mm;
    margin: 1cm;
}

.companies-container {
    display: grid;
}

.grid-view {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5cm;
}

.business-card {
    padding: 0.5cm;
    border-radius: 2mm;
}

.grid-view .member-tag {
    margin-bottom: 0.5cm;
    text-align: center;
    border-bottom: 2px solid var(--heading-color);
}

.grid-view img {
    width: 3cm;
    margin-right: 0.5cm;
    aspect-ratio: 1;
}

.list-view {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
}

.list-view .business-card {
    display: flex;
    justify-content: space-between;
    padding: 0.5cm;
    border-bottom: 2px solid var(--heading-color);
}

.list-view img,
.list-view .information,
.list-view .member-tag {
    display: none;
}

.list-view .company-address {
    display: inline;
}

footer {
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 0.5cm;
}

.socials-container {
    flex-direction: row;
    justify-content: space-around;
}