@media only screen and (min-width:680px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .full-width {
        grid-column: 1 / 4;
    }

    .hero-container {
        height: 300px;
    }
}