@media only screen and (min-width:680px) {
    main {
        grid-template-columns: 1fr 2fr;
    }

    .full-width {
        grid-column: 1 / -1;
    }

    .hero-container {
        height: 500px;
    }

    section p {
        font-size: 40px;
        text-align: center;
    }

}