.socials ul, .certificates ul {
    margin-top: 10px;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.certificates ul li{
    width: 100%;
}

.certificates button {
    width: 100%;
    padding: 5px;
}