@media only screen and (min-width:680px) {

    header, #nav-list, #nav-list.burger-active {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        align-items: baseline;
    }

    nav li, .active {
        background: transparent;
        border: none;
    }

    nav a {
        color: var(--text);
    }

    .active {
        text-decoration: underline;
    }

    header {
        border-bottom: 1px solid var(--border);
    }

    main {
        grid-template-columns: 2fr 1fr;
    }

    h1, .certificates, .socials {
        grid-column: 1 / 3;
    }

    .courses-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px
    }

    #burger-button{
        display: none;
        
    }
}